include ../includes/layout
    block content
        main(role="main" ui-view)
        if user
            h1 User details
            p #{user.login}
            img(src="#{user.avatar_url}" width="64" height="64")

        if baseRepoInfo
            h1 Base repository
            p 
                a(href="#{baseRepoInfo.html_url}" target="_blank") #{baseRepoInfo.full_name}
            img(src="#{baseRepoInfo.owner.avatar_url}" width="64" height="64")

        if baseRepoPRs
            h1 Select Pull Request
            form(action="/list-files" method="post")#pr-form
                ul
                    each pr in baseRepoPRs
                        li
                            label
                                input(type="radio" name="pr" id="pr" value="#{pr.number}")
                                span #{pr.title} | #{pr.number} | Author #{user.login}
                                div
                                    a(href="#{pr.html_url}") View PR
                                div(style="display: none") #{pr.body}
                input(type="submit" value="Select Pull Request")
